<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
</head>
<body>
<h2>User Management</h2>

<!-- добавить юзера -->
<form th:action="@{/users/add}" method="get">
    <input type="submit" value="Add User">
</form>

<!-- Таблица -->
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td>
            <a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a> |
            <a th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
